@import "tailwindcss";

@theme {
  --font-sans: "Arial", sans-serif;
  --font-text: "Inter", sans-serif;
  --font-arial-black: "Arial Black", sans-serif;

  --color-primary: #1b1b1b;
}

@layer base {
  html {
    @apply font-sans text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-arial-black;
  }

  main {
    @apply ml-[210px] pr-[130px];
  }

  section {
    @apply min-h-dvh;
  }
}

@layer components {
  .service-card {
    @apply min-w-[1136px] border-b border-b-white min-h-[195px];
  }

  .project-card {
    @apply w-full border-y border-y-white py-[65px] -mt-[1px];
  }
}

@layer utilities {
  .footer-title {
    font-size: clamp(1rem, 12vw, 170px);
  }
}
